# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - roel-huijskens

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to registry
      uses: docker/login-action@v2
      with:
        registry: https://index.docker.io/v1/
        username: ${{ secrets.AzureAppService_ContainerUsername_3a3e9878aec344f681d599debbdc0d64 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_0c21584daada44faa9ff8f9b130e7caf }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: index.docker.io/${{ secrets.AzureAppService_ContainerUsername_3a3e9878aec344f681d599debbdc0d64 }}/deroelh/personal-website:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'roel-huijskens'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_7dce60abcf4a4edaa048dd3a8468da69 }}
        images: 'index.docker.io/${{ secrets.AzureAppService_ContainerUsername_3a3e9878aec344f681d599debbdc0d64 }}/deroelh/personal-website:${{ github.sha }}'